// Estilos personalizados
$font-family-sans-serif: "Manrope", sans-serif;
$font-size-base: 0.813rem;

//$body-color: ;
$light: hsl(210, 46%, 95%);
$primary: hsl(217, 19%, 35%);
$secondary: hsl(214, 17%, 51%);
//$success: ;

// colores
$VeryDarkGrayishBlue: hsl(217, 19%, 35%);
$DesaturatedDarkBlue: hsl(214, 17%, 51%);
$GrayishBlue: hsl(212, 23%, 69%);
$LightGrayishBlue: hsl(210, 46%, 95%);


.card-custom {
    border: none;
    border-radius: 8px;
    overflow: hidden;
}

.card-img-left {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.share-icons {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.9);
    transition: all 0.3s ease-in-out;
    background-color: hsl(217, 19%, 35%);
    z-index: 10;
    bottom: 120%;
    right: 0
}

.share-icons::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left:88%;
    transform: translateX(-50%);
    border-width: 14px;
    border-style: solid;
    border-color: hsl(217, 19%, 35%) transparent transparent transparent;
}

.share-icons.show {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.share-icons a {
    color: white;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .card-img-left {
        border-radius: 1rem 1rem 0 0;
        height: 200px;
    }
}


@import "../node_modules/bootstrap/scss/bootstrap";